[user]
	email = 146272+Sinon@users.noreply.github.com
	name = Rob Hand
	signingkey = 8B0BA7243355B005
[commit]
	gpgsign = true
[gpg]
	program = gpg
[core]
	pager = delta
	excludesFile = ~/.gitignore
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true
	dark = true
[merge]
	conflictstyle = zdiff3
[diff]
        tool = difftastic

[difftool]
        prompt = false

[difftool "difftastic"]
        cmd = difft "$LOCAL" "$REMOTE"

[pager]
        difftool = true

# `git dft` is less to type than `git difftool`.
[alias]
        dft = difftool

# `git dlog` to show `git log -p` with difftastic.
[alias]
        dlog = "!f() { GIT_EXTERNAL_DIFF=difft git log -p --ext-diff; }; f"
